@using PudgeSMomom.Models
@model UserAccount



<div class="main-container">
    <section class="bg-white space-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-sm-0">
                    <img alt="Image" src="@Model.ProfileData.AvatarUrl" class="rounded img-fluid" />
                </div>
                <!--end of col-->
                <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                    <div>
                        <h1 class="mb-2">@Model.ProfileData.CountryCode</h1>
                        <h2 class="lead mb-3">@Model.ProfileData.Nickname</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="space-sm">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-8 col-lg-7">
                    <article>
                        @Model.ProfileData.RealName
                    </article>
                    <article>
                        Steam Id: @Model.User.steamId
                    </article>
                </div>
            </div>
        </div>
    </section>
 </div>