@model PudgeSMomom.ViewModels.AdvertVMs.DetailVM;

<div class="main-container">
    <section class="bg-white space-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-sm-0">
                    <img alt="Image" src="@Model.Advert.Image" class="rounded img-fluid" />
                </div>
                <!--end of col-->
                <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                    <div>
                        <h1 class="mb-2">@Model.Advert.Title</h1>
                        <h2 class="lead mb-3">@Model.Advert.Title</h2>
                    </div>
                    <div>
                        <div class="btn-group mb-2">
                            <a asp-controller="Chat" asp-action="Contact" asp-route-SourceId="@Model.SourceId" asp-route-DestinationId="@Model.Advert.User.Id" class="btn btn-success btn-lg">Contact</a>
                        </div>
                        <div class="btn-group mb-2">
                            <a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.Advert.User.Id" class="btn btn-success btn-lg">Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="space-sm">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-8 col-lg-7">
                    <h5 class="mb-4">Overview</h5>
                    <article>
                        @Model.Advert.Description
                    </article>

                </div>
            </div>
        </div>
    </section>